<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
    </head>
    <body style="background-color:#f0f6ff; padding-top:215px;">
    	<div style="background-color:#f0f6ff;">
    		<br>
    		<br>
	    	<h1 style="text-align:center;">
	        	<a href="upload.html">
	        		<button style="font-size:100%;">GET STARTED</button>
	        	</a>
	        	<p style="font-size:75%; text-align:center;">Click here to launch PhotoTrans</p>
	        </h1>
	        <br>
	        <br>
	    </div>
    </body>
</html>